<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->
<h3><%= pluralize(@category.posts.count, 'Post') %></h3>
<!-- posts is an association method which becomes a collection proxy or public method  -->
<ul>
  <% @category.posts.each do |p| %>
    <li><%= link_to p.title, post_path(p) %></li>
  <% end %>
</ul>
